@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


.primary-font{
  font-family: "Space Grotesk", sans-serif;
}
.secondary-font{
  font-family: "Inter", sans-serif;
}
.primary-color{
  color: #3921F5;
}
.secondary-color{
  color:#4F4F4F;
}
@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes floatDownUp {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

.float-up {
  animation: floatUpDown 3s ease-in-out infinite;
}

.float-down {
  animation: floatDownUp 3s ease-in-out infinite;
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0.3;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
}

.twinkle-1 {
  animation: twinkle 3s ease-in-out 0s infinite;
}

.twinkle-2 {
  animation: twinkle 3s ease-in-out 1s infinite;
  
}

.twinkle-3 {
  animation: twinkle 3s ease-in-out 2s infinite;
}